 .auto{
    border: 8px solid 7CFC00;
    display: block;
    overflow: auto;
}
.saluran{
    color:white;
}
body{
    background-image: url="https://photos.google.com/photo/AF1QipO-sQWVlD33GCqauI09dRsRH_IPTW78y_LfHLMV";
    background-size: cover;
}
h1{
    background: rgb(7,194,54);
background: linear-gradient(90deg, rgba(7,194,54,0.7051282051282051) 0%, rgba(0,0,0,0.1282051282051282) 79%);
    color: black;
    font-family: Monospace;
}
h3,div{
    color: rgb(7,194,54);
    text-shadow: 1px 9px 9px black;
    direction: rtl;
}
hr,fieldset{
    border-color: #7CFC00;
}
.style{  
    text-decoration: none;
    padding:6px 7px;
    color: #7CFC00;
}
.a{
    border-color: red;

}
.b{
    border-color: darkblue;
}
.tutorcustom{
    width: 350;
}
.lengkap{
    width:500;
    
}
.ui{
    border-color: red;
}
img{
    border-radius: 15%;
    width: 152;
}
.logo{
    border-radius: 100%;
    width: 15%;
    float: right;
}
.info{
    float: right;
}
.detail{
    color: green;
    text-decoration: none;
    border-radius: 27%;
    background-color: black;
    
}
}
.uk{
    width:80px;
}
.pembatas{
    border-color: red;
    width:90%;
}
.list,.list1,.list0{
    position: relative;
    text-decoration: none;
    padding:6px 7px;
    background-color: #7CFC00;
    color: black;
    font-size: 20px;
}
.list3{
    border-radius:94%;
    float:right;
    position: relative;
    text-decoration: none;
    padding:6px 7px;
    background-color: #7CFC00;
    color: blue;
    font-size: 20px;
}
.list3:hover{
    color: red;
    background-color: #7CFC00;
    
}
.list1:hover{
    color: red;
    background-color: #7CFC00;
    
}
.list:hover{
    color: red;
    background-color:#7CFC00 ;
}
.list0:hover{
    color: red;
    background-color:#7CFC00 ;
}
.new{
    color:lightyellow;

}
.harga{
    color :white ;
    text-decoration: overline underline;
    text-decoration-color: red;
    
}
.o{
    color: black;
    background-color: red;
    text-decoration: none;
    border-radius: 20%;
}
.ii{
     color: red;
    background-color: #7CFC00;
    text-decoration: none;
}
}
.o:hover{
    color:red;
    background-color:black;
}
center{
    color: red;
    font-family: Comic Sans MS;
    position: relative;
}
.y{
    color: red;
    background-color: black;
    font-family: italic;
}
iframe{
    border: 3px;
}
img{
    width: 30%;
}